@import "./variables";

.city-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.city-list-item {
  list-style-type: none;
  background: #0000002a;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
}

.current-weather {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.city-info,
.temp-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-name,
.temp-info-main {
  font-weight: $bold-weight;
  font-size: 25px;
}
.city-description,
.temp-info-feels {
  font-weight: $regular-weight;
  font-size: 12px;
}
