@import "./variables";

.city-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
}
.city-list-item {
  list-style-type: none;
  background: #0000002a;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  position: relative;
}
//CURRENT WEATHER ///////////////////////////////////////////////////////////////
.current-weather {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.city-info,
.temp-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-name,
.temp-info-main {
  font-weight: $bold-weight;
  font-size: 25px;
}
.city-description,
.temp-info-feels {
  font-weight: $regular-weight;
  font-size: 12px;
}


.day-button,
.week-button {
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  margin-right: 15px;
  cursor: pointer;
}

//HOURLY WEATHER ///////////////////////////////////////////////////////////////

.hourly-weather {
  background: #0000007a;
  border-radius: 15px;
  padding: 15px;
  .wrapper {
    overflow: auto;
  }
}

.hourly-weather-title {
  color: white;
  width: max-content;
  margin: auto;

  font-weight: $bold-weight;
  font-size: 25px;
}

.hourly-weather-list {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  gap: 15px;
}

.hourly-weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .time {
    color: white;
  }
  .weather-img {
    height: 100px;
    width: 100px;
  }

  .description {
    color: white;
    font-weight: $regular-weight;
    font-size: 12px;
  }
  .temp {
    color: white;
  }
}
//controls ////////////////////////////////////////////////////////////////////////////////////
.controls {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.favorite-button {
  cursor: pointer;
}
.delete-button {
  cursor: pointer;
  &:hover g {
    fill: black;
  }
}
//confirm modal////////////////////////////////////////////////////////////////////////////
.confirm-modal {
  width: 100vw;
  height: 100vh;
  background: #00000060;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-modal-wrapper {
  background: #000000bf;
  padding: 15px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
}

.confirm-modal-title {
  color: white;
  margin-bottom: 10px;
}

.confirm-modal-btn {
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-yes {
  margin-right: 15px;
  &:hover {
    background: rgb(16, 252, 16);
  }
}
.btn-no {
  z-index: 500;
  &:hover {
    background: rgba(255, 51, 51, 0.76);
  }
}
