@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black-color;
  font-weight: $medium-weight;
  font-size: 18px;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, $orange-color, $whet-color);
}

.container {
  margin: auto;
  max-width: $lg;
  padding: 0 20px;
}

.link {
  text-decoration: none;
}

.main {
  margin: 50px 0;
}

.error-message {
  margin: 0 10px;
}

.error-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000000bf;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
  text-align: center;
  display: flex;
  align-items: center;

  .error-message {
    color: white;
  }
  .error-close {
    cursor: pointer;
  }
}
